article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
a:hover, a:active { outline: 0px; }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0px; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="search"] { box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }
a { color: rgb(0, 114, 198); text-decoration: none; }
a:hover { color: rgb(0, 70, 122); text-decoration: underline; }
[class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.span12 { width: 940px; }
.row-fluid { width: 100%; }
.row-fluid::before, .row-fluid::after { display: table; content: ""; line-height: 0; }
.row-fluid::after { clear: both; }
.row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.12766%; }
.row-fluid [class*="span"]:first-child { margin-left: 0px; }
.row-fluid .span12 { width: 100%; }
.row-fluid .span11 { width: 91.4894%; }
.row-fluid .span10 { width: 82.9787%; }
.row-fluid .span9 { width: 74.4681%; }
.row-fluid .span8 { width: 65.9574%; }
.row-fluid .span7 { width: 57.4468%; }
.row-fluid .span6 { width: 48.9362%; }
.row-fluid .span5 { width: 40.4255%; }
.row-fluid .span4 { width: 31.9149%; }
.row-fluid .span3 { width: 23.4043%; }
.row-fluid .span2 { width: 14.8936%; }
.row-fluid .span1 { width: 6.38298%; }
.row-fluid .offset12 { margin-left: 104.255%; }
.row-fluid .offset12:first-child { margin-left: 102.128%; }
.row-fluid .offset11 { margin-left: 95.7447%; }
.row-fluid .offset11:first-child { margin-left: 93.617%; }
.row-fluid .offset10 { margin-left: 87.234%; }
.row-fluid .offset10:first-child { margin-left: 85.1064%; }
.row-fluid .offset9 { margin-left: 78.7234%; }
.row-fluid .offset9:first-child { margin-left: 76.5957%; }
.row-fluid .offset8 { margin-left: 70.2128%; }
.row-fluid .offset8:first-child { margin-left: 68.0851%; }
.row-fluid .offset7 { margin-left: 61.7021%; }
.row-fluid .offset7:first-child { margin-left: 59.5745%; }
.row-fluid .offset6 { margin-left: 53.1915%; }
.row-fluid .offset6:first-child { margin-left: 51.0638%; }
.row-fluid .offset5 { margin-left: 44.6809%; }
.row-fluid .offset5:first-child { margin-left: 42.5532%; }
.row-fluid .offset4 { margin-left: 36.1702%; }
.row-fluid .offset4:first-child { margin-left: 34.0426%; }
.row-fluid .offset3 { margin-left: 27.6596%; }
.row-fluid .offset3:first-child { margin-left: 25.5319%; }
.row-fluid .offset2 { margin-left: 19.1489%; }
.row-fluid .offset2:first-child { margin-left: 17.0213%; }
.row-fluid .offset1 { margin-left: 10.6383%; }
.row-fluid .offset1:first-child { margin-left: 8.51064%; }
[class*="span"].hide, .row-fluid [class*="span"].hide { display: none; }
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right { float: right; }
.container { margin-right: auto; margin-left: auto; }
.container::before, .container::after { display: table; content: ""; line-height: 0; }
.container::after { clear: both; }
small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: normal; }
h1, h2, h3, h4, h5, h6 { margin: 10px 0px; font-family: inherit; font-weight: normal; line-height: 1; color: inherit; text-rendering: optimizeLegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; line-height: 1; color: rgb(153, 153, 153); }
h1 { font-size: 36px; line-height: 40px; font-weight: 100; }
h2 { font-size: 30px; line-height: 40px; font-weight: 100; }
h3 { font-size: 24px; line-height: 40px; font-weight: 100; }
h4 { font-size: 18px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }
h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }
ul { list-style: square; }
ul, ol { padding: 0px; margin: 0px 0px 10px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
li { line-height: 20px; }
dl { margin-bottom: 20px; }
dt, dd { line-height: 20px; }
dt { font-weight: bold; }
dd { margin-left: 10px; }
hr { margin: 20px 0px; border-width: 1px 0px; border-right-style: initial; border-left-style: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-top-style: solid; border-top-color: rgb(238, 238, 238); border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); }
abbr[title] { cursor: help; border-bottom: 1px dotted rgb(153, 153, 153); }
blockquote { padding: 0px 0px 0px 15px; margin: 0px 0px 20px; border-left: 5px solid rgb(238, 238, 238); }
blockquote p { margin-bottom: 0px; font-size: 16px; font-weight: 300; line-height: 25px; }
blockquote small { display: block; line-height: 20px; color: rgb(153, 153, 153); }
blockquote small::before { content: "— "; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
address { display: block; margin-bottom: 20px; font-style: normal; line-height: 20px; }
code, pre { padding: 0px 3px 2px; font-family: Monaco, Menlo, "Courier New", monospace; font-size: 14px; color: rgb(51, 51, 51); }
code { padding: 2px 4px; color: rgb(51, 51, 51); }
pre { display: block; padding: 9.5px; margin: 0px 0px 20px; font-size: 13px; line-height: 20px; word-break: break-all; word-wrap: break-word; white-space: pre-wrap; background-color: transparent; border: 1px solid rgba(0, 0, 0, 0.15); }
pre code { padding: 0px; color: inherit; background-color: transparent; border: 0px; }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0px; }
table [class*="span"], .row-fluid table [class*="span"] { display: table-cell; float: none; margin-left: 0px; }
.table .span12 { float: none; width: 924px; margin-left: 0px; }
form { margin: 0px 0px 20px; }
fieldset { padding: 0px; margin: 0px; border: 0px; }
legend { display: block; width: 100%; padding: 0px; margin-bottom: 10px; font-size: 21px; line-height: 40px; color: rgb(0, 0, 0); border: 0px; font-weight: 100; }
legend small { font-size: 15px; color: rgb(153, 153, 153); }
label, input, button, select, textarea { font-size: 14px; font-weight: normal; line-height: 20px; }
input, button, select, textarea { font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif; }
label { display: block; margin-bottom: 5px; }
textarea { height: auto; }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; cursor: pointer; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
select, input[type="file"] { height: 30px; line-height: 30px; }
select { width: 220px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); padding: 0px 0px 0px 8px; }
select[multiple], select[size] { height: auto; padding: 0px; }
select:hover { border-color: rgb(143, 143, 143); }
select:focus { border-color: rgb(92, 92, 92); outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgb(153, 153, 153); }
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] { float: none; margin-left: 0px; }
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-append [class*="span"] { display: inline-block; }
input.span12, textarea.span12, .uneditable-input.span12 { width: 922px; }
select.span12, select.span12 { width: 930px; box-sizing: content-box; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { cursor: not-allowed; background-color: rgb(238, 238, 238); }
input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover, input[readonly]:hover, select[readonly]:hover, textarea[readonly]:hover, input[disabled]:focus, select[disabled]:focus, textarea[disabled]:focus, input[readonly]:focus, select[readonly]:focus, textarea[readonly]:focus { border-color: rgb(204, 204, 204); }
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color: transparent; }
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: rgb(233, 50, 45); }
[class*="btn-striped"] { border-style: solid; border-width: 0px; }
[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: text-top; background-repeat: no-repeat; margin-top: 1px; }
[class^="icon-16"], [class*=" icon-16"] { width: 16px; height: 16px; line-height: 16px; background-image: url("../images/syncfusion-16b-icons.png"); background-position: 0px 0px; }
[class^="icon-24"], [class*=" icon-24"] { width: 24px; height: 24px; line-height: 24px; background-image: url("../images/syncfusion-24b-icons.png"); background-position: 0px 0px; }
.icon-white[class^="icon-16"], .nav-tabs > .active > a > [class^="icon-"][class^="icon-16"], .nav-tabs > .active > a > [class*=" icon-"][class^="icon-16"], .nav-pills > .active > a > [class^="icon-"][class^="icon-16"], .nav-pills > .active > a > [class*=" icon-"][class^="icon-16"], .nav-list > .active > a > [class^="icon-"][class^="icon-16"], .nav-list > .active > a > [class*=" icon-"][class^="icon-16"], .navbar .nav > li > a > [class^="icon-"][class^="icon-16"], .navbar .nav > li > a > [class*=" icon-"][class^="icon-16"], .navbar-inverse .nav > li > a > [class^="icon-"][class^="icon-16"], .navbar-inverse .nav > li > a > [class*=" icon-"][class^="icon-16"], .dropdown-menu > li > a:hover > [class^="icon-"][class^="icon-16"], .dropdown-menu > li > a:hover > [class*=" icon-"][class^="icon-16"], .dropdown-menu > .active > a > [class^="icon-"][class^="icon-16"], .dropdown-menu > .active > a > [class*=" icon-"][class^="icon-16"], .icon-white[class*=" icon-16"], .nav-tabs > .active > a > [class^="icon-"][class*=" icon-16"], .nav-tabs > .active > a > [class*=" icon-"][class*=" icon-16"], .nav-pills > .active > a > [class^="icon-"][class*=" icon-16"], .nav-pills > .active > a > [class*=" icon-"][class*=" icon-16"], .nav-list > .active > a > [class^="icon-"][class*=" icon-16"], .nav-list > .active > a > [class*=" icon-"][class*=" icon-16"], .navbar .nav > li > a > [class^="icon-"][class*=" icon-16"], .navbar .nav > li > a > [class*=" icon-"][class*=" icon-16"], .navbar-inverse .nav > li > a > [class^="icon-"][class*=" icon-16"], .navbar-inverse .nav > li > a > [class*=" icon-"][class*=" icon-16"], .dropdown-menu > li > a:hover > [class^="icon-"][class*=" icon-16"], .dropdown-menu > li > a:hover > [class*=" icon-"][class*=" icon-16"], .dropdown-menu > .active > a > [class^="icon-"][class*=" icon-16"], .dropdown-menu > .active > a > [class*=" icon-"][class*=" icon-16"] { background-image: url("../images/syncfusion-16w-icons.png"); }
.icon-white[class^="icon-24"], .nav-tabs > .active > a > [class^="icon-"][class^="icon-24"], .nav-tabs > .active > a > [class*=" icon-"][class^="icon-24"], .nav-pills > .active > a > [class^="icon-"][class^="icon-24"], .nav-pills > .active > a > [class*=" icon-"][class^="icon-24"], .nav-list > .active > a > [class^="icon-"][class^="icon-24"], .nav-list > .active > a > [class*=" icon-"][class^="icon-24"], .navbar .nav > li > a > [class^="icon-"][class^="icon-24"], .navbar .nav > li > a > [class*=" icon-"][class^="icon-24"], .navbar-inverse .nav > li > a > [class^="icon-"][class^="icon-24"], .navbar-inverse .nav > li > a > [class*=" icon-"][class^="icon-24"], .dropdown-menu > li > a:hover > [class^="icon-"][class^="icon-24"], .dropdown-menu > li > a:hover > [class*=" icon-"][class^="icon-24"], .dropdown-menu > .active > a > [class^="icon-"][class^="icon-24"], .dropdown-menu > .active > a > [class*=" icon-"][class^="icon-24"], .icon-white[class*=" icon-24"], .nav-tabs > .active > a > [class^="icon-"][class*=" icon-24"], .nav-tabs > .active > a > [class*=" icon-"][class*=" icon-24"], .nav-pills > .active > a > [class^="icon-"][class*=" icon-24"], .nav-pills > .active > a > [class*=" icon-"][class*=" icon-24"], .nav-list > .active > a > [class^="icon-"][class*=" icon-24"], .nav-list > .active > a > [class*=" icon-"][class*=" icon-24"], .navbar .nav > li > a > [class^="icon-"][class*=" icon-24"], .navbar .nav > li > a > [class*=" icon-"][class*=" icon-24"], .navbar-inverse .nav > li > a > [class^="icon-"][class*=" icon-24"], .navbar-inverse .nav > li > a > [class*=" icon-"][class*=" icon-24"], .dropdown-menu > li > a:hover > [class^="icon-"][class*=" icon-24"], .dropdown-menu > li > a:hover > [class*=" icon-"][class*=" icon-24"], .dropdown-menu > .active > a > [class^="icon-"][class*=" icon-24"], .dropdown-menu > .active > a > [class*=" icon-"][class*=" icon-24"] { background-image: url("../images/syncfusion-24w-icons.png"); }
.navbar .container { width: auto; }
.navbar .brand { float: left; display: block; padding: 0px 10px 2px; margin-left: -10px; font-size: 22px; line-height: 38px; font-weight: 100; color: rgb(255, 255, 255); }
.navbar .brand:hover { text-decoration: none; background-color: rgb(0, 99, 173); }
.navbar .divider-vertical { height: 20px; margin: 10px 0px; border-left: 1px solid rgb(255, 255, 255); }
.navbar .btn, .navbar .btn-group { margin-top: 0px; }
.navbar .btn-group .btn, .navbar .input-append .btn { margin-top: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border-width: 0px 0px 1px; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding-left: 0px; padding-right: 0px; }
.navbar-fixed-top { top: 0px; }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav.pull-right { float: right; margin-right: 0px; }
.navbar .nav > li { float: left; }
.navbar .nav > li > a { float: none; padding: 10px; color: rgb(255, 255, 255); height: 20px; text-decoration: none; }
.navbar .nav > li > a [class^="icon-24"], .navbar .nav > li > a [class*=" icon-24"] { margin-top: -1px; }
.navbar .nav > li > a [class^="icon-16"], .navbar .nav > li > a [class*=" icon-16"] { margin-top: 2px; }
.navbar .nav > li.small > a { font-size: 86%; padding-right: 5px; padding-left: 5px; }
.navbar .nav .dropdown-toggle .caret { margin-top: 8px; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { background-color: rgb(0, 99, 173); color: rgb(255, 255, 255); text-decoration: none; }
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 93, 162); }
.navbar .btn-navbar { display: none; float: right; padding: 12px 10px 7px; margin-left: 5px; margin-right: 5px; min-width: 0px; height: 40px; color: rgb(255, 255, 255); background-color: rgb(0, 114, 198); }
.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] { color: rgb(255, 255, 255); background-color: rgb(0, 99, 173); }
.navbar .btn-navbar .icon-bar { display: block; margin: 2px 0px 0px; width: 18px; height: 2px; background-color: rgb(245, 245, 245); }
.navbar .nav > li > .dropdown-menu { border-top: 0px none rgb(0, 114, 198); border-right-color: rgb(0, 114, 198); border-bottom-color: rgb(0, 114, 198); border-left-color: rgb(0, 114, 198); }
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { background-color: rgb(0, 93, 162); color: rgb(255, 255, 255); }
.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); }
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); }
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right { left: auto; right: 0px; }
.navbar .pull-right > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu.pull-right::before { left: auto; right: 12px; }
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after { left: auto; right: 13px; }
.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu { left: auto; right: 100%; margin-left: 0px; margin-right: -1px; }
[class*="tile"] { margin: 0px 10px 10px 0px; background-color: rgb(0, 114, 198); color: white; float: left; height: 150px; padding: 10px; box-sizing: border-box; user-select: none; }
[class*="tile"] h1, [class*="tile"] h2, [class*="tile"] h3, [class*="tile"] h4, [class*="tile"] h5, [class*="tile"] h6 { line-height: normal; margin: 0px 0px 5px; }
[class*="tile"]:hover { background-color: rgb(61, 148, 212); cursor: pointer; color: white; text-decoration: none; }
.datepicker th.next, .datepicker th.prev { font-size: 28px; padding: 4px 0px; }
.datepicker th.next i, .datepicker th.prev i { margin-top: 8px; }
body { font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }

@media all and (min-width: 1001px) {
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; margin-bottom: 0px; }
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
body { margin: 0px; }
}

@media all and (max-width: 1000px) {
body { margin: 0px 20px 0px 20px; }
}