body {
  font-size: 16px; 
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar .nav {
  float: right;
}

figure.full img {
  width: 100%;
  max-width: 100%;
  height: auto;  
}

figure.medium {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

figure.large {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

figure.large img {
  width:500px; 
  height: auto;
}

figcaption {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #EFEFEF;    
  font-size: 90%;        
  margin-left: 1%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: justify;
  display: block;
}

footer { 
  position: relative;
  z-index: 10; 
  line-height: normal;
  margin-top: 10px; 
  font-size: 0.6em;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, sans-serif; 
  padding-top: 2em; 
  text-align: center;
}

.content h1 {
  font-family: Open, serif;
  color: #3F3F3F;
  font-size: 1.8em;
  text-align: center; 
  margin-bottom: 40px;
}

#logo {
  width: 80px;
  margin: auto;
}

#logo a {
  border: none;
}

#navbar-inner {
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin: auto;
  max-width: 980px;
  border-bottom: 1px solid #989898;
}

.container {  
  margin: 0 auto;
  max-width: 960px;
  margin-top: 3%;
}

.row-fluid .span12 ul .posts {
  margin: 0 0 10px 0;
}

@media all and (max-width: 1000px) {
  .posts {
    text-align: center;
  }
}

@media all and (min-width: 1001px) {
  .posts {
    padding-top: 7%;
    text-align: center;
  }
}

.posts li {
  line-height: 90%;
  list-style: none;
}
.posts li p {
  margin-bottom: 25px;
}

.post {
  margin: auto;
  padding-bottom: 20px;
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
  max-width: 700px;
}

.post h2 {
  font-size: 25px;
  line-height: 50px;
  margin: 25px 0;
  font-weight: bold;
}

.post h3 {
  font-size: 22px;
  line-height: 50px;
  margin: 22px 0;
  font-weight: bold;
}

.post h4 {
  font-size: 18px;
  line-height: 50px;
  margin: 18px 0;
  font-weight: bold;
}

p {
  line-height: 25px;
  margin: 0 0 20px;
}

.post .content {
  text-align: left;
  margin-top: 20px;
  font-family: "Open Sans", serif;
  font-size: 16px;
}

.post .content li {
  line-height: 150%;
  list-style: square;
}

.post .content ol {
  margin-bottom: 25px;
}

.post-header {
  text-align: center;
}

.post-header h1 {
  font-size: 1.8em;
  color: #444;
  font-family: Open;
  margin-bottom: 10px;
  font-weight: bold;
}

.post-header a {
  color: headings-color;
  font-size: 1em;
  color: #444;
}

.post-header a:hover {
  text-decoration: none;
  border:none;
}

.post-time {
  margin-top: 3px;
  font-family: Open;
}

.post-after {
  padding-left: 40px;
  margin-bottom: 12px;
}

.post-after ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.post-after ul li {
  float: left;
  margin-right: 20px;
}

.post-after ul li a {
  display: block;
}

.navbar a {
  color: #505050;
}

.tags a {
  color: #505050;
  margin-right: 12px;
  font-size: 0.6em;
  padding: 5px 8px 2px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms background ease;
  display: inline-block;
  margin-bottom: 8px;
  border-bottom: 3px solid #fa0005;
  font-family: 'Open Sans', Helvetica, 'Helvetica Neue', sans-serif;
}

.tags a:hover {
  color: #fff;
  background-color: #fa0005;
  border-bottom: 3px solid #fa0005;
  text-decoration: none;
}

.one-post a, p a, .post li a {
  border-bottom: 1px solid #fa0005;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}

.one-post a:hover, p a:hover, .post li a {
  text-decoration: none;
  color: #202020;
}

#TableOfContents {
  float: left;
  width: 40%;
  background: #fffcfc;
  font-family: Open;
  font-size: 14px;
  padding: 10px;
  margin: 0 20px 5px 0;
  text-align: left;
  border: 1px dashed lightcoral;
  text-decoration: none;
  color: #505050;
}

#TableOfContents ul {
  padding: 0;
  margin: 0 0 0 10px;
}

#TableOfContents li {
  margin: 4px;
}

#TableOfContents a,
#TableOfContents li a {
  text-decoration: none;
  color: #202020;
  padding: 0;
  border-bottom: 0;
}

#TableOfContents a:hover,
#TableOfContents a:active {
  text-decoration: none;
  border-bottom: 1px solid lightcoral;
}

.navbar a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fa0005;
}

blockquote p {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #fa0005;
  font-family: Open;
  font-size: 15px;
}

.tag-list {
  font-family: Open;
  max-width: 700px;
  margin: auto;
}

.tag-list h1 {
  max-width: 300px;
  margin: auto;
  padding-bottom: 2em;
}

.one-post {
  padding-bottom: 30px;
}

#pagination {
  margin-top: 1.5em;
}

#pagination a {
  margin-top: 20px;
  padding: 7px 20px 3px 20px;
  width: 115px;
  color: #646464;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  border-bottom: 4px solid #646464;
}

#pagination a:hover {
  color: #fff;
  background-color: #646464;
  border-bottom: 4px solid #646464;
  text-decoration: none;
}

img[src$='#center']
{
  display: block;
  margin: auto;
}

.about {
  text-align: right;
}

ul.share-buttons, ul.share-buttons a {
  list-style: none;
  padding: 0;
  border-bottom: 0;
  float: left;
  margin: 0px 0px 10px 0px;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}